<center>
  <h1>Welcome to Slownik</h1>
  <div class="ruby">
    <%= link_to(exercise_path) { button_tag("Exercise") } %>
    <%= link_to(words_path) { button_tag("Words") } %>
    <%= link_to(new_word_path) { button_tag("Add new word") } %>
  </div>
</center>
